h1{
    color:red;
}
body{
  margin: 0px;
  padding:  0px;
  font-size: larger;
}
.navbar{
  /* border: 1px solid #000000; */
  background-color: #444;
  padding: 20px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}
.navbar a:hover {
  background-color: yellow;
  color:#000000;
  /* padding: 10px; */
}
